body {
  font-family: 'Press Start 2P', cursive;
  background-color: lightgray;
  text-align: center;
  background-image: url("https://apod.nasa.gov/apod/image/1803/NGC1999_Hanson_3847.jpg");
  color: black;
}

#court {
  background-image: url('../img/court.jpg');
  padding: 0px;
  border: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 2vw;
  text-shadow: 0 0 2vw white;
}

div {
  margin: 0px;
}

.tile {
  font-size: 2em;
  text-align: center;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding: 0px;
  border-width: 1px;
  border-color: black;
  margin: -1px;
}

.player {
  width: auto;
  height: 1.5em;
}

.well {
  background-image: url("../img/fightbg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}

a:hover {
  text-decoration: none;
}


#battleText {
  font-size: 2vw;
  z-index: 100;
}

.playerImage {
  width: 320px;
  height: 240px;
}
