
body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  text-align: center;
  /*background-image: url("https://apod.nasa.gov/apod/image/1803/NGC1999_Hanson_3847.jpg");*/
  color: white;
}
input {
  color: black;
}

.row, h3 {
  color: black;
}

button {
  color: black;
}

/*.lastslide > .carousel-control{
  visibility: hidden;
}*/

#court {
  background-image: url('../img/court.gif');
  padding: 0px;
  border: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 1200px;
}

h1 {
  font-size: 2vw;
  text-shadow: 0 0 2vw white;
}


.fight-control {
  margin-top: 2px;
  display: inline-block;
}

.tile {
  font-size: 2em;
  text-align: center;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding: 0px;
  /*border-width: 1px;
  border-color: black;*/
  /*border-style: solid;*/
  margin: -1;
}
.carousel-caption {
  overflow: none;
}

 .carousel-control{
   margin-top: 32em;
   margin-right: 3em;
   background: none;
}

.carousel-control:hover{
  background: none;
}


.buttony{
  background-image: url("../img/fightbg.gif");
  color: black;
  font-size: 2em;
  display: flex;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.buttony:hover {
  color: red;
  text-shadow: 0 0 2em black;
}

.buttony2 {
  border: none;
  background: none;
  position: relative;
  float: right;
}

.intro {
  margin: 0 auto;
  width: 600px;
}

.player {
  width: auto;
  height: 1.5em;
}

.well {
  background-image: url("../img/fightbg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}

a:hover {
  text-decoration: none;
}


#battleText {
  font-size: 2vw;
  z-index: 100;
}

.playerImage {
  width: 320px;
  height: 240px;
}

.progress-bar-danger {
  background-color: red;
}

#white {
  color: white;
}
